__pycache__/
**/__pycache__/
*.pyc

*.mp4

jarvisvla.egg-info/
ultron.egg-info/
.gradio/

data/
log/
logs/
models/
checkpoints/
submodules/
out/
tmp/
temp/
trash/
wandb/
record/
videos/

distill_sampler_model.yaml
gradio.log
